<section id="file-info">

        <h1>welcome <%= user.firstName %></h1> 
    
    <section id="storage-creation" style="justify-self: end;"> 

        <button type="button" style="height: 100%;" id="add-file-global">upload new file</button>
        <button id="show-folder-creation-dialog" type="button">create Folder</button>

    </section>
</section>

<section class="storage-container">
    <% if(folders){ %>   
        <% folders.forEach(folder => { %>
            <div class="folder-Btn storage-Btn">
                <img src="/icons/folder-solid-full.svg" alt="folder" width="50" height="50">
                <div style="white-space: nowarp; text-overflow: ellipsis;  overflow: hidden;" ><%= folder.name %> </div>
                <span>Folder</span>
                <span>---</span>
                <form method="get" action="/folders/<%= folder.id %>">
                    <button style="width: 100%; height: 100%;">view</button>                    
                </form> 
                <button id="delete-folder-btn" type="button" name="deleteFolderId" value="<%- folder.id %>">delete</button>
            
                <script>
                const deleteFolder = document.getElementById('delete-folder-btn');

                deleteFolder.addEventListener('click',async ()=>{
                    let confirmation = confirm(`you are about to delete folder at id: ${deleteFolder.value},on this action all related files will be realocated to the home page,do you wish to continue?`)
                    if(confirmation){
                        console.log(`preform delete...`)
                        const res = await fetch(`/folders/delete`,{
                                    method: "POST",
                                    headers: { "content-Type": "application/json"},
                                    body: JSON.stringify({folderId: deleteFolder.value})
                                })
                        if(res.ok){
                            window.location.href = '/';
                        }

                    }
                })
                </script> 
            </div> 
        
        <% })%>
    <% } %>
    <%if(files){%> 
        <% files.forEach(file => { %>
                <div class="file-Btn storage-Btn">
                    <img src="/icons/file-solid-full.svg" alt="folder" width="50" height="50">
                    <div style="white-space: nowarp; text-overflow: ellipsis; overflow: hidden;"><%= file.originalName %></div> 
                    <div><%= file.mimeType %> </div>
                    <div><%= Math.round((file.size/ 1024)* 100)/100 %>Kb </div>
                    <div> <%= new Date(file.uploadTime).toLocaleTimeString() %> 
                        <%= new Date(file.uploadTime).toLocaleDateString() %></div>
                    
                    <a href="/upload/download/<%= file.id%>" download="<%= file.originalName %>">download</a> 
        
                </div>            
        <% }) %>
    <% }else { %>
        <p>your storage is empty!</p>
    <% } %>
        
</section>

<dialog id="create-folder-dialog">
    <form method="post" action="/folders/new">
        <label for="folderName">Folder name: </label>
        <input name="folderName" type="text" min="1" max="20" required/>
        <button id="create-folder-btn">Create</button>
    </form>
    <button type="button" id="cancel-dialog">cancel</button>
</dialog>

<dialog id="create-file-dialog">
    <h5>file type must be( .png/ .jpeg/ .webp/ .pdf/ .msword/ )</h5>
    <form action="/upload/file" method="post" enctype="multipart/form-data" id="dialog-file-creation-form">
        <input type="file" id="upFile" name="upFile"/>
        <label for="upFile"></label>
        <button id="upload-file-btn">Upload</button>
        <button type="button" id="cancel-add-file-dialog">cancel</button>
    </form>
</dialog>

<script>
    //folder create dialog
    const openDialog = document.getElementById('show-folder-creation-dialog');
    const dialog = document.getElementById('create-folder-dialog');
    const submitBtn = document.getElementById('create-folder-btn');
    const cancelBtn = document.getElementById('cancel-dialog');
    openDialog.addEventListener('click',()=>{
        dialog.showModal();
    })
    submitBtn.addEventListener('click',()=>{
        dialog.close();
    })
    cancelBtn.addEventListener('click',()=>{
        dialog.close();
    })
    //file create dialog
    const openFiledialogBtn = document.getElementById('add-file-global');
    const fileDialog = document.getElementById('create-file-dialog');
    const cancelFileDialog= document.getElementById('cancel-add-file-dialog')
    openFiledialogBtn.addEventListener('click',()=>{
        fileDialog.showModal();
    })
    cancelFileDialog.addEventListener('click',()=>{
        fileDialog.close();
    })
    //hanndle file upload validation
    const input = document.getElementById('upFile');
    const form = document.getElementById('dialog-file-creation-form');
    const submitFileBtn = document.getElementById('upload-file-btn');

    form.addEventListener('submit',(e)=>{
        if( !input.files|| input.files.length === 0){
            e.preventDefault();
            alert("please select a file");
        }
    })



</script>