<section id="user-info">
    <h3>welcome <%= user.firstName %></h3><a href="/auth/logout">logout</a>
    <section id="storage-creation">
        <form action="/upload/file" method="post" enctype="multipart/form-data">

            <label for="upFile" style="cursor: pointer;">add file +</label>
            <input type="file" id="upFile" name="upFile" style="display: none;" />
        
            <button>Upload</button>
        </form>
        <button id="show-folder-creation-dialog" type="button">create Folder</button>
    </section>
</section>

<section id="storage-container">
    <% if(folders){ %>   
        <% folders.forEach(folder => { %>
            <div class="folder-Btn storage-Btn">
                <img src="/icons/folder-solid-full.svg" 
                    alt="folder" 
                    width="50" 
                    height="50">
                <div style="white-space: nowarp; text-overflow: ellipsis;  overflow: hidden;" ><%= folder.name %> </div>
                <form method="get" action="/folders/<%= folder.id %>">
                    <button>view</button>                    
                </form> 

                <button id="delete-folder-btn" 
                        type="button" 
                        name="deleteFolderId" 
                        value="<%- folder.id %>">delete</button>
                <script>
                const deleteFolder = document.getElementById('delete-folder-btn');

                deleteFolder.addEventListener('click',async ()=>{
                    let confirmation = confirm(`you are about to delete folder at id: ${deleteFolder.value},on this action all related files will be realocated to the home page,do you wish to continue?`)
                    if(confirmation){
                        console.log(`preform delete...`)
                        const res = await fetch(`/folders/delete`,{
                                    method: "POST",
                                    headers: { "content-Type": "application/json"},
                                    body: JSON.stringify({folderId: deleteFolder.value})
                                })
                        if(res.ok){
                            window.location.href = '/';
                        }

                    }
                })
                </script> 
            </div> 
        
        <% })%>
    <% } %>
    <%if(files){%> 
        <% files.forEach(file => { %>
                <div class="file-Btn storage-Btn">
                    <img src="/icons/file-solid-full.svg" alt="folder" width="50" height="50">
                    <div style="white-space: nowarp; text-overflow: ellipsis; overflow: hidden;"><%= file.originalName %></div> 
                    <div><%= file.mimeType %> </div>
                    <div><%= Math.round((file.size/ 1024)* 100)/100 %>Kb </div>
                    <div> <%= new Date(file.uploadTime).toLocaleTimeString() %> 
                        <%= new Date(file.uploadTime).toLocaleDateString() %></div>
                    <button type="button" id="download-file">download</button> 
                </div>            
        <% }) %>
    <% }else { %>
        <p>your storage is empty!</p>
    <% } %>
        
</section>

<dialog id="create-folder-dialog">
    <form method="post" action="/folders/new">
        <label for="folderName">Folder name: </label>
        <input name="folderName" type="text" min="1" max="20" required/>
        <button id="create-folder-btn">Create</button>
    </form>
    <button type="button" id="cancel-dialog">cancel</button>
</dialog>

<script>
    const openDialog = document.getElementById('show-folder-creation-dialog');
    const dialog = document.getElementById('create-folder-dialog');
    const submitBtn = document.getElementById('create-folder-btn');
    const cancelBtn = document.getElementById('cancel-dialog');

    openDialog.addEventListener('click',()=>{
        dialog.showModal();
    })

    submitBtn.addEventListener('click',()=>{
        dialog.close();
    })
    cancelBtn.addEventListener('click',()=>{
        dialog.close();
    })

</script>